body {
  font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  color: #757575;
  /* font-style: normal; */
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.hero-section {
  background-color: #2f303a;
}

.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-button {
  font-family: inherit;
  /* cursor: inherit; */
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
}

/* .buttons-list { */
/* cursor: pointer; */
/* } */

.button {
  font-family: inherit;
  /* cursor: inherit; */
  cursor: pointer;
  background-color: #f5f4fa;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

/* .link:visited {
  color: inherit;
} */

.address {
  font-style: normal;
}

.footer {
  background-color: #2f303a;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.geo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  /* or 171% */
  letter-spacing: 0.03em;

  color: #ffffff;
}

.address-mailto,
.address-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts-mailto,
.contacts-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
