/* common */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

:root {
  --color-accent: #2196f3;

  --text-color-main: #757575;
  --text-color-secondary: #212121;
  --text-color-footer-contacts: rgba(255, 255, 255, 0.6);
  --text-color-white: #ffffff;

  --background-color-main: #ffffff;
  --background-color-secondary: #2f303a;
  --background-color-team: #f5f4fa;
}

body {
  font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  color: var(--text-color-main);
  background-color: var(--background-color-main);
}

/* header */
.logo-accent {
  color: var(--color-accent);
}

.site-nav .link {
  color: var(--text-color-secondary);
}

.header-contacts .link {
  color: var(--text-color-main);
}

.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus,
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--color-accent);
  cursor: pointer;
}

/* index.html | main */
.hero-section {
  background: var(--background-color-secondary);
}

.hero-title {
  color: var(--text-color-white);
}

.button {
  color: var(--text-color-secondary);
  background-color: var(--background-color-main);
}

.button.primary {
  color: var(--text-color-white);
  background-color: var(--color-accent);
  border: none;
}

.section-title {
  color: var(--text-color-secondary);
}

.features-list .title {
  color: var(--text-color-secondary);
}

.section.team {
  background-color: var(--background-color-team);
}

.team-list .team-member {
  background-color: var(--background-color-main);
}

.team-list .name {
  color: var(--text-color-secondary);
}

/* footer */
.footer {
  background-color: var(--background-color-secondary);
}

.footer .link {
  color: var(--text-color-white);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--color-accent);
  cursor: pointer;
}

.address .location {
  font-style: normal;
}

.link.contacts {
  font-style: normal;
  color: var(--text-color-footer-contacts);
}

/* portfolio.html */
